.page{
  display: flex;
  height: 100%;
  width: 100vw;
}

.left{
  display: flex;
  width: 50vw;
  height: 100%;
  flex-direction: column;
}

.right{
  display: flex;
  width: 50vw;
  height: 100%;
  flex-direction: column;
}

.genreGrid{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: pink


}

.genreCard{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: lightcoral;
  color: white;
  font-size: 2rem;
  font-family: "Single Day",cursive;
  cursor: pointer;
}

 